.footer {
    background-color: #333e4f;
    color: #9ca9be;
    h3{
        margin-bottom: 16px;
    }
    &__items{
        ul{
            padding-left: 0;
            li{
                list-style: none;
                a{
                    color: #9ca9be;
                    line-height: 1.5em;
                    &.facebook{
                        background-color: #3b5998;
                        border-radius: 4px;
                        margin-right: 12px;
                        width: 40px;
                        padding: 6px 12px 10px 12px;
                        font-size: 20px;
                        &:hover {
                            background-color: #1195f5;
                        }
                    }
                    &.instagram{
                        border-radius: 4px;
                        margin-right: 12px;
                        width: 40px;
                        padding: 6px 12px 10px 12px;
                        font-size: 20px;
                        background: radial-gradient(circle at 30% 107%, rgb(253, 244, 151) 0%, rgb(253, 244, 151) 5%, rgb(253, 89, 73) 45%, rgb(214, 36, 159) 60%, rgb(40, 90, 235) 90%);
                        &:hover{
                            background: radial-gradient(circle at 20% 97%, rgb(253, 244, 151) 0%, rgb(253, 244, 151) 5%, rgb(253, 89, 73) 55%, rgb(214, 36, 159) 70%, rgb(40, 90, 235) 90%);
                        }
                    }
                    &.youtube{
                        background-color: #ff0000a6;
                        border-radius: 4px;
                        margin-right: 12px;
                        width: 40px;
                        padding: 6px 12px 10px 12px;
                        font-size: 20px;
                        &:hover {
                            background-color: #ff0000;
                        }
                    }
                }
            }
        }
    }
}