.forgot__Password__component {
    .forgot_main {
      .form-control:focus {
        border-color: none;
        box-shadow: none;
      }
      
      span {
        font-size: 13px;
        color: #bbb;
    }
    }
  }
  